/* section benefits */
.benefits-section{
    padding-top: 94px;
    &__list{
        @media screen and (min-width: 768px) {
            flex-wrap: wrap;
            @include flex(space-between);
            @include size-of-box(738px, auto);
        }
        @media screen and (min-width: 1170px) {
            flex-wrap: nowrap;
            @include size-of-box(auto, auto);
        }
    }
    &__item:before{
        @media screen and (min-width: 768px) {
            @include size-of-box(354px, 120px);
        }
        @media screen and (min-width: 1170px) {
            @include size-of-box(270px, 120px);
        }
        content: '';
        display: block;
        @extend %normal-border-radius;
        margin-bottom: 30px;
        background: $benefits-icons-background-color;
        background-size: 70px 70px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__item{
        &:nth-child(1)::before{
            background-image: url('../imgs/imgDecorative/icon1.png');
        }
        &:nth-child(2)::before{
            background-image: url('../imgs/imgDecorative/icon2.png');
        }
        &:nth-child(3)::before{
            background-image: url('../imgs/imgDecorative/icon3.png');
        }
        &:nth-child(4)::before{
            background-image: url('../imgs/imgDecorative/icon4.png');
        }
        @media screen and (min-width: 768px) {
            &:nth-child(n+3){
                margin-top: 37px;
            }
        }
        @media screen and (min-width: 1170px) {
            margin-top: 0;
        }
    }
    &__title{
        @include text-style(700, 14px, 1.14, auto, 0.03em, $main-color);
        @include size-of-box(270px, auto);
        text-transform: uppercase;
    }
    &__text{
        @include text-style(400, 14px, 1.71, auto, 0.03em, $submain-color);
        @include size-of-box(270px, auto);
        margin-top: 10px;
    }
}