/* section clients */
.clients-section{
    @extend section-padding;
    &__list{
        margin-top: 50px;
        @include flex(space-between);
        @include size-of-box(1170px, auto);
    }
    &__svg{
        fill: $normal-svg-color;
        transition: all ease-out 0.2s;
    }
    &__item{
        @include size-of-box(170px, 90px);
        @include flex;
        border: $normal-styles-border $clients-section-item-border-color;
        @extend normal-border-radius;
        transition: all ease-in-out 0.2s;
        &:hover{
            border: $normal-styles-border $active-color;
            transform: skew(-25deg, 10deg);
        }
        &:hover > svg{
            fill: $active-color;
            transform: translate(30px, 10px);
        }
    }
}