/* section hero */
.hero-section{
    @include flex;
    flex-direction: column;
    @include size-of-box(auto, 400px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to left, $background-hero-overlay-color, $background-hero-overlay-color), url('../imgs/imgDecorative/optimized/hero-mobile@1x.webp');
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to left, $background-hero-overlay-color, $background-hero-overlay-color), url('../imgs/imgDecorative/optimized/hero-mobile@2x.webp');
    }

    @media screen and (min-width: 768px){
        background-image: linear-gradient(to left, $background-hero-overlay-color, $background-hero-overlay-color), url('../imgs/imgDecorative/optimized/hero-tablet@1x.webp');
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
                background-image: linear-gradient(to left, $background-hero-overlay-color, $background-hero-overlay-color), url('../imgs/imgDecorative/optimized/hero-tablet@2x.webp');
        }
    }

    @media screen and (min-width: 1170px){
        @include size-of-box(auto, 600px);
        background-image: linear-gradient(to left, $background-hero-overlay-color, $background-hero-overlay-color), url('../imgs/imgDecorative/optimized/hero-desktop@1x.webp');
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to left, $background-hero-overlay-color, $background-hero-overlay-color), url('../imgs/imgDecorative/optimized/hero-desktop@2x.webp');
        }
    }
    
    &__title{
        @media screen and (min-width: 320px) {
            @include size-of-box(307px, auto);
            @include text-style(900, 26px, 1.36, center, 00.06em, $main-title-color);
        }
        @media screen and (min-width: 1200px){
            @include size-of-box(696px, auto);
            font-size: 44px;
        }
        text-transform: uppercase;
    }
    &__but{
        @include text-style(700, 16px, 1.87, auto, 0.06em, $main-title-color);
        background-color: $background-hero-button-color;
        border: 0;
        box-shadow: 0px 4px 4px $shadow-hero-button-color;
        @extend %normal-border-radius;
        @include size-of-box(200px, 50px);
        margin-top: 30px;
    }
}