/* section hero */
.hero-section{
    @include flex;
    flex-direction: column;
    @include size-of-box(auto, 600px);
    background: linear-gradient(to left, $background-hero-overlay-color, $background-hero-overlay-color), url('../imgs/imgDecorative/fon.jpg');
    &__title{
        @include text-style(900, 44px, 1.36, center, 00.06em, $main-title-color);
        @include size-of-box(696px, auto);
        text-transform: uppercase;
    }
    &__but{
        @include text-style(700, 16px, 1.87, auto, 0.06em, $main-title-color);
        background-color: $background-hero-button-color;
        border: 0;
        box-shadow: 0px 4px 4px $shadow-hero-button-color;
        border-radius: 4px;
        @include size-of-box(200px, 50px);
        margin-top: 30px;
    }
}