/* section services */
.services-section{
    @extend %section-padding;
    &__list{
        @include flex(space-between);
        margin-top: 50px;
    }
    display: none;
    @media screen and (min-width: 1200px){
        display: block;
    }
    &__item{
        position: relative;
        @include text-style(700, 14px, 1.14, center, 0.03em, $services-overlay-text-color);
        text-transform: uppercase;
        &::before{
            content: 'Десктопні додатки';
            @include flex;
            position: absolute;
            bottom: 0px;
            background-color: $services-overlay-background-color;
            @include size-of-box(100%, 70px);
        }
        &:nth-child(2)::before{
            content: 'Мобільні додатки';
        }
        &:nth-child(3)::before{
            content: 'Дизайнерські рішення';
        }
    }
}