/* section services */
.services-section{
    padding: 94px 0;
    &__list{
        @include flex(space-between);
        margin-top: 50px;
    }
}
.services-section__item{
    position: relative;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    @extend %textAlingLet;
    text-transform: uppercase;
    color: $services-overlay-text-color;
    &::before{
        content: 'Десктопні додатки';
        @include flex;
        position: absolute;
        bottom: 4px;
        background-color: $services-overlay-background-color;
        @include size-of-box(100%, 70px);
    }
    &:nth-child(2)::before{
        content: 'Мобільні додатки';
    }
    &:nth-child(3)::before{
        content: 'Дизайнерські рішення';
    }
}