/* section team */
.team-section{
    background-color: #F5F4FA;
    padding: 94px 0;
}
.workers{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.workers__worker{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}
.workers__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;    
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
}
.workers__pos{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;    
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}
.workers__socials{
    display: flex;
    width: 206px;
    justify-content: space-between;
    margin: 16px auto 0;
}
.workers__link{
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    transition: all cubic-bezier(.11,.2,.55,1.27) 0.2s;
}
.workers__svg{
    fill: #AFB1B8;
    transition: all ease 0.2s;
}
.workers__link:hover{
    border-radius: 50%;
    background: #2196F3;
}
.workers__link:hover > svg{
    fill: #fff;
    transform: rotate(1800deg);
}