/* portfolio section */
.portfolio-section{
    border: 1px solid $portfolio-border;
    padding: 94px 0;
}
.filter{
    @include flex(space-between);
    margin: 0 auto;
    @include size-of-box(611px, auto);
    &__but{
        @include text-style(500, 16px, 1.61, center, 0.03em, $main-color, 'Roboto');
        background: $button-filter-background-color;
        border: 0;
        border-radius: 4px;
        transition: all cubic-bezier(.77,.22,.1,.96) 0.2s;
        padding: 6px 22px;
        &:hover{
            color: $portfolio-color;
            background: $active-color;
            box-shadow: $filter-button-active;
            transform: translateY(-10px);
        }
    }

}
.projects{
    @include flex(space-between);
    flex-wrap: wrap;
    margin-top: 50px;
    &__item{
        border: $normal-styles-border $project-border;
        padding-bottom: 20px;
        margin-top: 0;
        position: relative;
        transition: all ease-out 0.2s;
        &:nth-child(n+4){
            margin-top: 30px;
        }
        &:hover>.projects__overlay{
            opacity: 1;
            transform: translateY(0px) scale(1) rotate(0deg);
        }
        &:hover{
            box-shadow: $project_boxshadow;
            transform: scale(1.1);
        }
    }
    &__texts{
        margin-top: 20px;
        padding: 0 24px;
    }
    &__name{
        @include text-style(700, 18px, 2, auto, 0.06em, $main-color, 'Roboto');
    }
    &__category{
        @include text-style(400, 16px, 1.88, auto, 0.03em, $submain-color, 'Roboto');
        margin-top: 4px;
    }
    &__overlay{
        position: absolute;
        background: $project-overlay-background-color;
        @include size-of-box(370px, 294px);
        @include text-style(400, 18px, 1.56, auto, 0.03em, $portfolio-color, 'Roboto');
        top: 0;
        padding: 63px 24px;
        opacity: 0;
        transition: all cubic-bezier(.11,.2,.55,1.27) 0.3s;
        transform: translateY(50px) scale(1.1) rotate(10deg);
    }
}