body{
    font-family: 'Roboto';
}

.container{
    @include size-of-box(1200px, auto);
    padding: 0 15px;
    margin: 0 auto;
}

.section-title{
    @include text-style(700, 36px, 1.16, center, 0.03em, $main-color);
}