/* header */
.header-page{
    &__container{
        @include flex;
        height: inherit;
        @media screen and (min-width: 320px) {
            flex-direction: column;
            @include size-of-box(auto, 130px);
            padding-top: 20px;
        }
        @media screen and (min-width: 480px) {
            flex-direction: row;
            height: 80px;
            padding: 0 15px;
        }
    }
    &__nav{
        @include flex;
        height: inherit;
    }
}
.pages{
    @include flex(space-between);
    @media screen and (min-width: 320px) {
        @include size-of-box(290px, auto);
    }
    @media screen and (min-width: 480px) {
        @include size-of-box(290px, auto);
        margin-left: 30px;
    }
    @media screen and (min-width: 768px) {
        margin-left: 87.8px;
    }
    @media screen and (min-width: 1170px) {
        margin-left: 93px;
    }
    height: inherit;
    &__link{
        @include text-style(500, 14px, 1.17, auto, 0.02em, $main-color);
        @include flex;
        transition: all cubic-bezier(.77,.22,.1,.96) 0.2s;
        position: relative;
        height: 100%;
        &:hover{
            color: $active-color;
        }
    }
    &__overlay::after{
        content: '';
        display: block;
        @include size-of-box(100%, auto);
        height: 3px;
        position: absolute;
        transform: translateY(39px);
        background-color: $active-color;
        border-radius: 5px;
        transition: all ease-in 0.2s;
    }
}
.contacts{
    @media screen and (min-width: 320px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        @include size-of-box(136.44px, auto);
        @include flex(space-between);
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1170px) {
        @include size-of-box(333px, auto);
    }
    margin-left: auto;
    &__link{
        @include text-style(500, 14px, 1.17, auto, 0.02em, $submain-color);
        @media screen and (min-width: 768px) {
            font-size: 11.5px;
            margin-top: 12px;
            &:first-child{
                margin-top: 0;
            }
        }
        @media screen and (min-width: 1170px) {
            font-size: 14px;
            margin-top: 0;
        }
        @include flex;
        transition: all cubic-bezier(.77,.22,.1,.96) 0.2s;
        position: relative;
        @include size-of-box(auto, 100%);
        &:hover{
            color: $active-color;
            transform: translateY(-5px) skew(-10deg);
        }
        &:hover>svg{
            fill: $active-color;
            transform: rotate(360deg);
        }
    }
    &__svg{
        fill: $submain-color;
        margin-right: 10px;
        transition: all ease-out 0.2s;
    }
}