/* header */
.header-page{
    @include size-of-box(auto, 80px);
    &__container{
        @include flex;
        height: inherit;
    }
    &__nav{
        height: inherit;
    }
}
.pages{
    @include flex(space-between);
    @include size-of-box(290px, auto);
    margin-left: 93px;
    height: inherit;
    &__link{
        @include text-style(500, 14px, 1.17, auto, 0.02em, $main-color);
        @include flex;
        transition: all cubic-bezier(.77,.22,.1,.96) 0.2s;
        position: relative;
        height: 100%;
        &:hover{
            color: $active-color;
        }
    }
    &__overlay::after{
        content: '';
        display: block;
        @include size-of-box(100%, auto);
        height: 3px;
        position: absolute;
        transform: translateY(39px);
        background-color: $active-color;
        border-radius: 5px;
        transition: all ease-in 0.2s;
    }
}
.contacts{
    @include flex(space-between);
    @include size-of-box(333px, auto);
    margin-left: auto;
    &__link{
        @include text-style(500, 14px, 1.17, auto, 0.02em, $submain-color);
        @include flex;
        transition: all cubic-bezier(.77,.22,.1,.96) 0.2s;
        position: relative;
        @include size-of-box(auto, 100%);
        &:hover{
            color: $active-color;
            transform: translateY(-5px) skew(-10deg);
        }
        &:hover>svg{
            fill: $active-color;
            transform: rotate(360deg);
        }
    }
    &__svg{
        fill: $submain-color;
        margin-right: 10px;
        transition: all ease-out 0.2s;
    }
}