.main-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $active-color;
    text-decoration: none;
    &--white{
        color: $main-title-color;
    }
    &--black{
        color: $main-color;
    }
}