$active-color: #2196F3;
$background-hero-button-color: #2196F3;
$normal-svg-color: #AFB1B8;
$footer-link-color: rgba(255, 255, 255, 0.6);
$main-title-color: #FFF;
$footer-color: #FFF;
$menu-color: rgba(33, 33, 33, 0.2);
$main-color: #212121;
$submain-color: #757575;
$team-section-background-color: #F5F4FA;
$footer-background-color: #2F303A;
$button-filter-background-color: #F5F4FA;
$benefits-icons-background-color: #F5F4FA;
$services-overlay-background-color: rgba(47, 48, 58, 0.8);
$services-overlay-text-color: #FFF;
$worker-background-color: #FFF;
$svg-color: #FFF;
$header-bg: rgba(255,255,255,0.7);
$form-background-color: #FFF;
$form-color: #FFF;
$footer-color: #FFF;
$worker-boxshadow1: 0px 1px 3px rgba(0, 0, 0, 0.12);
$worker-boxshadow2: 0px 1px 1px rgba(0, 0, 0, 0.14);
$worker-boxshadow3: 0px 2px 1px rgba(0, 0, 0, 0.2);
$form-boxshadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$overlay-background: rgba(0, 0, 0, 0.2);
$clients-section-item-border-color: #AFB1B8;
$normal-styles-border: 1px solid;
$footer-link-border: rgba(255, 255, 255, 0.3);
$background-hero-overlay-color: rgba(47, 48, 58, 0.4);
$shadow-hero-button-color: rgba(0, 0, 0, 0.15);
$form-close-border: rgba(0, 0, 0, 0.1);
$form-field-border: rgba(33, 33, 33, 0.2);
$form-textarea-color: rgba(117, 117, 117, 0.5);
$portfolio-border: #ECECEC;
$project-border: #EEEEEE;
$portfolio-color: #FFF;
$project-overlay-background-color: rgba(33, 150, 243, 0.9);
$project_boxshadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$filter-button-active: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$socials-item-background-color: rgba(255, 255, 255, 0.1);
$footer-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);