body{
    font-family: 'Roboto';
}
/* header */
.header-section{
    height: 80px;
}
.header-container{
    display: flex;
    align-items: center;
    height: inherit;
}
.header-list{
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin-left: 93px;
}
.header-contacts{
    display: flex;
    justify-content: space-between;
    width: 307px;
    margin-left: 335px;
}
.header-logo, .footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: 0.2s;
}
.header-link:hover{
    color: #2196F3;
    transition: 0.2s;
}
.logo-black{
    color: #212121;
}
.logo-white{
    color: #FFFFFF;
}
.header-contact{
    color: #757575;
}

/* footer */
.footer-section{
    padding: 60px 0;
    background-color: #2F303A;
}
.footer-list{
    margin-top: 20px;
}
.footer-item{
    margin-top: 9px;
}
.footer-item:first-child{
    margin-top: 0px;
}
.footer-adress{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;    
    font-style: normal;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-contact{
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}