@charset "UTF-8";
.clients-section, .services-section {
  padding: 94px 0px;
}

.footer-form__field, .form-section__send, .form-section__field, .form-section__textarea, .form-section, .clients-section__item, .benefits-section__item:before, .hero-section__but {
  border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

textarea {
  resize: none;
}

body {
  font-family: "Roboto";
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 450px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: "Roboto";
}

/* header */
.header-page {
  position: sticky;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}
.header-page__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  flex-direction: row;
  min-width: auto;
  max-width: none;
  width: auto;
  height: 60px;
  padding: 0 15px;
  max-width: 1200px;
}
@media screen and (min-width: 768px) {
  .header-page__container {
    height: 80px;
  }
}
.header-page__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-page__nav {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header-page__svg {
    display: none;
  }
}

.pages {
  display: none;
  gap: 50px;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .pages {
    margin-left: 87.8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .pages {
    margin-left: 93px;
  }
}
.pages__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-align: auto;
  letter-spacing: 0.02em;
  color: #212121;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all cubic-bezier(0.77, 0.22, 0.1, 0.96) 0.2s;
  position: relative;
  height: 100%;
}
.pages__link:hover {
  color: #2196F3;
}
.pages__overlay::after {
  content: "";
  display: block;
  min-width: auto;
  max-width: none;
  width: 100%;
  height: auto;
  height: 3px;
  position: absolute;
  transform: translateY(39px);
  background-color: #2196F3;
  border-radius: 5px;
  transition: all ease-in 0.2s;
}

.contacts {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts {
    min-width: auto;
    max-width: none;
    width: 136.44px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    min-width: auto;
    max-width: none;
    width: 333px;
    height: auto;
  }
}
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-align: auto;
  letter-spacing: 0.02em;
  color: #757575;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all cubic-bezier(0.77, 0.22, 0.1, 0.96) 0.2s;
  position: relative;
  min-width: auto;
  max-width: none;
  width: auto;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 11.5px;
    margin-top: 12px;
  }
  .contacts__link:first-child {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    margin-top: 0;
  }
}
.contacts__link:hover {
  color: #2196F3;
  transform: translateY(-5px) skew(-10deg);
}
.contacts__link:hover > svg {
  fill: #2196F3;
  transform: rotate(360deg);
}
.contacts__svg {
  fill: #757575;
  margin-right: 10px;
  transition: all ease-out 0.2s;
}

.main-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: auto;
  letter-spacing: 0.03em;
  color: #2196F3;
  font-family: "Raleway";
}
@media screen and (min-width: 320px) {
  .main-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .main-logo {
    display: block;
  }
}
.main-logo--white {
  color: #FFF;
}
.main-logo--black {
  color: #212121;
}

/* section hero */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: auto;
  max-width: none;
  width: auto;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imgs/imgDecorative/optimized/hero-mobile@1x.webp");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imgs/imgDecorative/optimized/hero-mobile@2x.webp");
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imgs/imgDecorative/optimized/hero-tablet@1x.webp");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imgs/imgDecorative/optimized/hero-tablet@2x.webp");
  }
}
@media screen and (min-width: 1170px) {
  .hero-section {
    min-width: auto;
    max-width: none;
    width: auto;
    height: 600px;
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imgs/imgDecorative/optimized/hero-desktop@1x.webp");
  }
}
@media screen and (min-width: 1170px) and (min-device-pixel-ratio: 2), screen and (min-width: 1170px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1170px) and (min-resolution: 192dpi), screen and (min-width: 1170px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imgs/imgDecorative/optimized/hero-desktop@2x.webp");
  }
}
.hero-section__title {
  text-transform: uppercase;
}
@media screen and (min-width: 320px) {
  .hero-section__title {
    min-width: auto;
    max-width: none;
    width: 307px;
    height: auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFF;
    font-family: "Roboto";
  }
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    min-width: auto;
    max-width: none;
    width: 696px;
    height: auto;
    font-size: 44px;
  }
}
.hero-section__but {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: auto;
  letter-spacing: 0.06em;
  color: #FFF;
  font-family: "Roboto";
  background-color: #2196F3;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: auto;
  max-width: none;
  width: 200px;
  height: 50px;
  margin-top: 30px;
}

/* section benefits */
@media screen and (min-width: 320px) {
  .benefits-section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section {
    padding: 0;
    padding-top: 94px;
  }
}
@media screen and (min-width: 320px) {
  .benefits-section__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    min-width: 100%;
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) {
  .benefits-section__list {
    min-width: auto;
    max-width: none;
    width: 450px;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .benefits-section__list {
    min-width: auto;
    max-width: none;
    width: 738px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section__list {
    flex-wrap: nowrap;
    min-width: auto;
    max-width: none;
    width: auto;
    height: auto;
  }
}
.benefits-section__item:before {
  content: "";
  display: block;
  margin-bottom: 30px;
  background: #F5F4FA;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (min-width: 320px) {
  .benefits-section__item:before {
    height: 120px;
    min-width: 100%;
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) {
  .benefits-section__item:before {
    min-width: auto;
    max-width: none;
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-section__item:before {
    min-width: auto;
    max-width: none;
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section__item:before {
    min-width: auto;
    max-width: none;
    width: 270px;
    height: 120px;
  }
}
.benefits-section__item:nth-child(1)::before {
  background-image: url("../imgs/imgDecorative/icon1.png");
}
.benefits-section__item:nth-child(2)::before {
  background-image: url("../imgs/imgDecorative/icon2.png");
}
.benefits-section__item:nth-child(3)::before {
  background-image: url("../imgs/imgDecorative/icon3.png");
}
.benefits-section__item:nth-child(4)::before {
  background-image: url("../imgs/imgDecorative/icon4.png");
}
@media screen and (min-width: 320px) {
  .benefits-section__item:nth-child(n+2) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-section__item:nth-child(n) {
    margin-top: 0;
  }
  .benefits-section__item:nth-child(n+3) {
    margin-top: 37px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section__item:nth-child(n) {
    margin-top: 0;
  }
}
.benefits-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: start;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: "Roboto";
  text-transform: uppercase;
}
@media screen and (min-width: 320px) {
  .benefits-section__title {
    text-align: center;
    min-width: 100%;
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) {
  .benefits-section__title {
    min-width: auto;
    max-width: none;
    width: 450px;
    height: auto;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .benefits-section__title {
    min-width: auto;
    max-width: none;
    width: 270px;
    height: auto;
    text-align: start;
  }
}
.benefits-section__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: auto;
  letter-spacing: 0.03em;
  color: #757575;
  font-family: "Roboto";
  margin-top: 10px;
}
@media screen and (min-width: 320px) {
  .benefits-section__text {
    min-width: 100%;
    max-width: 480px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 480px) {
  .benefits-section__text {
    min-width: auto;
    max-width: none;
    width: 450px;
    height: auto;
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .benefits-section__text {
    min-width: auto;
    max-width: none;
    width: 270px;
    height: auto;
  }
}

/* section services */
.services-section {
  display: none;
}
.services-section__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
@media screen and (min-width: 1200px) {
  .services-section {
    display: block;
  }
}
.services-section__item {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFF;
  font-family: "Roboto";
  text-transform: uppercase;
}
.services-section__item::before {
  content: "Десктопні додатки";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  min-width: auto;
  max-width: none;
  width: 100%;
  height: 70px;
}
.services-section__item:nth-child(2)::before {
  content: "Мобільні додатки";
}
.services-section__item:nth-child(3)::before {
  content: "Дизайнерські рішення";
}

/* section team */
.team-section {
  background-color: #F5F4FA;
}
@media screen and (min-width: 320px) {
  .team-section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding: 94px 0;
  }
}

.workers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 320px) {
  .workers {
    flex-wrap: wrap;
    min-width: 100%;
    max-width: 480px;
    margin: 0 auto;
    margin-top: 30px;
  }
}
@media screen and (min-width: 480px) {
  .workers {
    min-width: auto;
    max-width: none;
    width: 450px;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .workers {
    min-width: auto;
    max-width: none;
    width: 738px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .workers {
    flex-wrap: nowrap;
    min-width: auto;
    max-width: none;
    width: auto;
    height: auto;
    margin-top: 50px;
  }
}
.workers__worker {
  background: #FFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
@media screen and (min-width: 320px) {
  .workers__worker {
    min-width: 100%;
    max-width: 480px;
  }
  .workers__worker:nth-child(n+2) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 480px) {
  .workers__worker {
    min-width: auto;
    max-width: none;
    width: 450px;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .workers__worker {
    min-width: auto;
    max-width: none;
    width: 354px;
    height: auto;
  }
  .workers__worker:nth-child(n) {
    margin-top: 0;
  }
  .workers__worker:nth-child(n+3) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .workers__worker {
    min-width: auto;
    max-width: none;
    width: 270px;
    height: auto;
  }
  .workers__worker:nth-child(n) {
    margin-top: 0;
  }
}
.workers__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: "Roboto";
  margin-top: 30px;
}
.workers__pos {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  font-family: "Roboto";
  margin-top: 10px;
}
.workers__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: auto;
  max-width: none;
  width: 206px;
  height: auto;
  margin: 16px auto 0;
}
.workers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  max-width: none;
  width: 44px;
  height: 44px;
  transition: all cubic-bezier(0.11, 0.2, 0.55, 1.27) 0.2s;
}
.workers__link:hover {
  border-radius: 50%;
  background: #2196F3;
}
.workers__link:hover > svg {
  fill: #FFF;
  transform: rotate(1800deg);
}
.workers__svg {
  fill: #AFB1B8;
  transition: all ease 0.2s;
}

/* section clients */
.clients-section__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 320px) {
  .clients-section__list {
    flex-wrap: wrap;
    margin: 50px auto 0;
    min-width: 100%;
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) {
  .clients-section__list {
    min-width: auto;
    max-width: none;
    width: 450px;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .clients-section__list {
    min-width: auto;
    max-width: none;
    width: 738px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .clients-section__list {
    flex-wrap: nowrap;
    min-width: auto;
    max-width: none;
    width: 1170px;
    height: auto;
  }
}
.clients-section__svg {
  fill: #AFB1B8;
  transition: all ease-out 0.2s;
}
.clients-section__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  transition: all ease-in-out 0.2s;
}
@media screen and (min-width: 320px) {
  .clients-section__item {
    height: 92px;
    min-width: 100%;
    max-width: 480px;
  }
  .clients-section__item:nth-child(n+2) {
    margin-top: 30px;
  }
  .clients-section__item:hover {
    transform: skew(0deg, 0deg);
  }
}
@media screen and (min-width: 480px) {
  .clients-section__item {
    min-width: auto;
    max-width: none;
    width: 210px;
    height: 92px;
  }
  .clients-section__item:nth-child(n) {
    margin-top: 0;
  }
  .clients-section__item:nth-child(n+3) {
    margin-top: 30px;
  }
  .clients-section__item:hover {
    transform: skew(-15deg, 10deg);
  }
}
@media screen and (min-width: 768px) {
  .clients-section__item {
    min-width: auto;
    max-width: none;
    width: 226px;
    height: 90px;
  }
  .clients-section__item:nth-child(n) {
    margin-top: 0;
  }
  .clients-section__item:nth-child(n+4) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-section__item {
    min-width: auto;
    max-width: none;
    width: 170px;
    height: 90px;
  }
  .clients-section__item:nth-child(n) {
    margin-top: 0;
  }
  .clients-section__item:hover {
    transform: skew(-25deg, 10deg);
  }
}
.clients-section__item:hover > svg {
  fill: #2196F3;
}
@media screen and (min-width: 320px) {
  .clients-section__item:hover > svg {
    transform: translate(0px, 0px);
  }
}
@media screen and (min-width: 480px) {
  .clients-section__item:hover > svg {
    transform: translate(30px, 10px);
  }
}

/* form section */
.form-section {
  padding: 40px;
  position: relative;
  background: #FFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .form-section {
    min-width: auto;
    max-width: none;
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .form-section {
    min-width: auto;
    max-width: none;
    width: 528px;
    height: 581px;
  }
}
.form-section__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: "Roboto";
}
.form-section__close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  min-width: auto;
  max-width: none;
  width: 30px;
  height: 30px;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: all cubic-bezier(0.11, 0.2, 0.55, 1.27) 0.2s;
}
.form-section__close:hover > .form-section__icon {
  fill: #2196F3;
  transition: all ease 0.2s;
}
.form-section__item {
  margin-top: 10px;
  position: relative;
}
.form-section__item:first-child {
  margin-top: 12px;
}
.form-section__item:last-child {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}
@media screen and (min-width: 480px) {
  .form-section__item:last-child {
    align-items: center;
  }
}
@media screen and (min-width: 1170px) {
  .form-section__item:last-child {
    font-size: 14px;
  }
}
.form-section__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: auto;
  letter-spacing: 0.01em;
  color: #757575;
  font-family: "Roboto";
}
.form-section__field, .form-section__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  margin-top: 4px;
  transition: all ease 0.2s;
}
.form-section__field:hover + .form-section__svg, .form-section__field:focus + .form-section__svg {
  fill: #2196F3;
  transform: rotate(360deg) scale(1.5);
  transition: all ease-in-out 0.3s;
}
.form-section__field:hover, .form-section__textarea:hover {
  border-color: #2196F3;
}
.form-section__field {
  padding: 12px 18px 12px 42px;
  display: block;
}
@media screen and (min-width: 320px) {
  .form-section__field {
    height: 40px;
    min-width: 100%;
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) {
  .form-section__field {
    min-width: auto;
    max-width: none;
    width: 370px;
    height: 40px;
  }
}
@media screen and (min-width: 1170px) {
  .form-section__field {
    min-width: auto;
    max-width: none;
    width: 450px;
    height: 40px;
  }
}
.form-section__svg {
  position: absolute;
  bottom: 14px;
  left: 15px;
}
.form-section__textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: auto;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  padding: 12px 16px;
}
@media screen and (min-width: 320px) {
  .form-section__textarea {
    height: 120px;
    min-width: 100%;
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) {
  .form-section__textarea {
    min-width: auto;
    max-width: none;
    width: 370px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .form-section__textarea {
    min-width: auto;
    max-width: none;
    width: 450px;
    height: 120px;
  }
}
.form-section__checkbox {
  min-width: auto;
  max-width: none;
  width: 16px;
  height: 15px;
}
.form-section__text {
  margin-left: 8.38px;
}
.form-section__link:link, .form-section__link:visited {
  color: #2196F3;
  -webkit-text-decoration: underline #2196F3;
          text-decoration: underline #2196F3;
}
.form-section__send {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  display: block;
  margin: 30px auto 0;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.06em;
  color: #FFF;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: auto;
  max-width: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: all cubic-bezier(0.11, 0.2, 0.55, 1.27) 0.4s;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: all cubic-bezier(0.11, 0.2, 0.55, 1.27) 0.4s;
}

.header-menu {
  width: 100%;
  max-width: 480px;
  height: 100%;
  background-color: #FFF;
  position: fixed;
  z-index: 5;
  right: 0;
  top: 0;
  padding: 10px 15px 48px 40px;
  transition: all 0.2s ease-in;
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: none;
  }
}
.header-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.header-menu__close {
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
  display: block;
  margin-left: auto;
}
.header-menu__lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  height: 100%;
  max-height: 700px;
}
.header-menu__links {
  gap: 34px;
  display: flex;
  flex-direction: column;
}
.header-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: left;
  letter-spacing: 0.02em;
  color: #212121;
  font-family: "Roboto";
}
.header-menu__overlay {
  color: #2196F3;
}
.header-menu__contacts {
  gap: 32px;
  display: flex;
  flex-direction: column;
}
.header-menu__contact:first-child {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  text-align: left;
  letter-spacing: 0.02em;
  color: #2196F3;
  font-family: "Roboto";
}
@media screen and (min-width: 480px) {
  .header-menu__contact:first-child {
    font-size: 34px;
  }
}
.header-menu__contact:last-child {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.17;
  text-align: left;
  letter-spacing: 0.02em;
  color: #757575;
  font-family: "Roboto";
}
@media screen and (min-width: 480px) {
  .header-menu__contact:last-child {
    font-size: 24px;
  }
}
.header-menu__container {
  width: 100%;
}
.header-menu__text {
  color: rgba(33, 33, 33, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  flex-wrap: wrap;
  gap: 5px;
}
@media screen and (min-width: 480px) {
  .header-menu__text {
    flex-wrap: nowrap;
    gap: 0px;
    justify-content: space-between;
  }
}
.header-menu__soc {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.23;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2196F3;
  font-family: "Roboto";
}

/* footer */
.footer-page {
  padding: 60px 0;
  background-color: #2F303A;
}
.footer-page__container {
  margin: 0 auto;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-page__container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    min-width: auto;
    max-width: none;
    width: 768px;
    height: auto;
    padding: 0 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-page__container {
    padding: 0 15px;
    flex-wrap: nowrap;
    min-width: auto;
    max-width: none;
    width: 1200px;
    height: auto;
  }
}
.footer-page__column--2 {
  margin-left: 70px;
}
@media screen and (min-width: 320px) {
  .footer-page__column--2 {
    margin: 60px auto 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-page__column--2 {
    margin: 0 0 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-page__column--2 {
    margin: 0;
    margin-top: 12px;
  }
}
.footer-page__column--3 {
  margin: 0 auto;
  margin-top: 60px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer-page__column--3 {
    margin-top: 12px;
    width: auto;
    margin: 0;
  }
}
.footer-page__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: auto;
  letter-spacing: 0.03em;
  color: #FFF;
  font-family: "Roboto";
  text-transform: uppercase;
}
@media screen and (min-width: 320px) {
  .footer-page__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-page__title {
    display: block;
  }
}

.contact-information {
  margin-top: 20px;
}
.contact-information__item {
  margin-top: 9px;
}
.contact-information__item:first-child {
  margin-top: 0px;
}
.contact-information__adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: start;
  letter-spacing: 0.03em;
  color: #FFF;
  font-family: "Roboto";
  color: #FFF;
}
@media screen and (min-width: 320px) {
  .contact-information__adress {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact-information__adress {
    display: block;
  }
}
.contact-information__contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: start;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  justify-content: start;
}
@media screen and (min-width: 320px) {
  .contact-information__contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact-information__contact {
    display: block;
  }
}

.socials {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: auto;
  max-width: none;
  width: 206px;
  height: auto;
}
.socials__item {
  min-width: auto;
  max-width: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: all cubic-bezier(0.77, 0.22, 0.1, 0.96) 0.2s;
}
.socials__item:hover {
  background: #2196F3;
  transform: rotate(360deg);
}
.socials__svg {
  fill: #FFF;
  transition: all cubic-bezier(0.77, 0.22, 0.1, 0.96) 0.2s;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    min-width: auto;
    max-width: none;
    width: 570px;
    height: auto;
  }
}
.footer-form__but {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  max-width: none;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFF;
  font-family: "Roboto";
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: 0;
}
@media screen and (min-width: 320px) {
  .footer-form__but {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__but {
    margin-top: 0;
  }
}
.footer-form__field {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: auto;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  padding: 15px 16px;
  transition: all ease 0.2s;
}
@media screen and (min-width: 320px) {
  .footer-form__field {
    height: 50px;
    min-width: 100%;
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) {
  .footer-form__field {
    min-width: auto;
    max-width: none;
    width: 450px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__field {
    min-width: auto;
    max-width: none;
    width: 358px;
    height: 50px;
  }
}
.footer-form__field:hover {
  border-color: #2196F3;
}
.footer-form__svg {
  fill: #FFF;
  margin-left: 12px;
}/*# sourceMappingURL=main.css.map */