body{
    font-family: 'Roboto';
}
.portfolio-filter-ul, .portfolio-projects-ul, .header-ul, .whyWe-ul, .whatWeDo-ul, .ourTeam-ul{
    list-style-type: none;
}
/* header */
.header-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
.header-a{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: 0.2s;
}
.header-logo-black{
    color: #212121;
}
.header-a:hover{
    color: #2196F3;
    transition: 0.2s;
}
.header-a-contacts{
    color: #757575;
}

/* footer */
.footer-adress{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
    color: #FFFFFF;
}