.portfolio-filter-but{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    transition: 0.2s;
}
.portfolio-filter-but:hover {
    color: #2196F3;
    transition: 0.2s;
}
.portfolio-project-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.portfolio-project-category{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}