/* section hero */
.hero-section{
    display: flex;
    flex-direction: column;
    /* background-color: #2F303A; */
    height: 600px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../imgs/imgDecorative/fon.jpg');
    /* background-image: url('../imgs/imgDecorative/fon.png'); */
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
}
.hero-but{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;    
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin-top: 30px;
}

/* section benefits */
.benefits-section{
    padding-top: 94px;
}
.benefits-list{
    display: flex;
    justify-content: space-between;
}
.benefits-item:before{
    width: 270px;
    height: 120px;
    content: '';
    display: block;
    border-radius: 4px;
    margin-bottom: 30px;
    background: #F5F4FA;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center center;
}
.benefits-item:nth-child(1)::before{
    background-image: url('../imgs/imgDecorative/icon1.png');
}
.benefits-item:nth-child(2)::before{
    background-image: url('../imgs/imgDecorative/icon2.png');
}
.benefits-item:nth-child(3)::before{
    background-image: url('../imgs/imgDecorative/icon3.png');
}
.benefits-item:nth-child(4)::before{
    background-image: url('../imgs/imgDecorative/icon4.png');
}
.benefits-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    width: 270px;
}
.benefits-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
    margin-top: 10px;
}

/* section services */
.services-section{
    padding: 94px 0;
}
.services-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* section team */
.team-section{
    background-color: #F5F4FA;
    padding: 94px 0;
}
.team-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.team-item{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}
.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;    
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
}
.team-pos{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;    
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}
.team-socials{
    display: flex;
    width: 206px;
    justify-content: space-between;
    margin: 16px auto 0;
}
.team-link{
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.team-svg{
    fill: #AFB1B8;
    transition: 0.2s;
}
.team-link:hover{
    border-radius: 50%;
    background: #2196F3;
    transition: 0.2s;
}
.team-link:hover > svg{
    fill: #fff;
    transition: 0.2s;
}

/* section clients */
.clients-section{
    padding: 94px 0;
}
.clients-list{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 1170px;
}
.clients-item{
    height: 90px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: 0.2s;
}
.clients-svg{
    fill: #AFB1B8;
    transition: 0.2s;
}
.clients-item:hover{
    border: 1px solid #2196F3;
    transition: 0.2s;
}
.clients-item:hover > svg{
    fill: #2196F3;
    transition: 0.2s;
}

.services-title, .team-title, .clients-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
