/* section hero */
.hero-section{
    display: flex;
    flex-direction: column;
    background-color: #2F303A;
    height: 600px;
    align-items: center;
    justify-content: center;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
}
.hero-but{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;    
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin-top: 30px;
}

/* section benefits */
.benefits-section{
    padding-top: 94px;
}
.benefits-list{
    display: flex;
    justify-content: space-between;
}
.benefits-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    width: 270px;
}
.benefits-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;
    margin-top: 10px;
}

/* section services */
.services-section{
    padding: 94px 0;
}
.services-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* section team */
.team-section{
    background-color: #F5F4FA;
    padding: 94px 0;
}
.team-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.team-item{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}
.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;    
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
}
.team-pos{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;    
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

.services-title, .team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}